// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  height: 100vh;
  padding-top: 100px;
  margin-bottom: 100px;
}

a {
  color: black;
}

a:hover {
  color: silver;
}

a .vertical_like {
  color: royalblue
}

a .vertical_like:hover {
  color: orangered
}

.circle-avatar.field {
  text-align: center;
}

.circle-avatar.field img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

#img_field:hover {
  transition: 0.5s ease-out;
  opacity: 0.5;
}