// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  height: 100vh;
  margin-top: 100px;
  margin-bottom: 100px;
}

a {
  color: black;
}

a:hover {
  color: silver;
}

a .vertical_like {
  color: royalblue
}

a .vertical_like:hover {
  color: orangered
}

.circle-avatar.field {
  text-align: center;
}

.circle-avatar.field img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.circle-avatar.index-field img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

#img_field:hover {
  transition: 0.5s ease-out;
  opacity: 0.5;
}

.posts_container {
  border-bottom: 1px solid rgb(230, 220, 220);
}

.flex_container_main {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: space-around;
}

.flex_container_sub {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	align-content: space-around;
}